# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
.out/
.next/
coverage/

# Logs
*.log
logs
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Tests / Coverage
coverage/
.nyc_output/

# Environment files
.env
.env.*.local